<nav class="navbar bg-light mb-5">
  <div class="container">
    <a class="navbar-brand">Address Navigation</a>
    <div class="d-flex">
      <button (click)="addNewAddress()" data-bs-toggle="modal" data-bs-target="#addressModal" type="button" class="btn btn-primary me-4">New Address</button>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Display {{displaySize}}
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="changeDisplaySize(2)" class="dropdown-item">2</a></li>
          <li><a (click)="changeDisplaySize(4)" class="dropdown-item">4</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="d-flex justify-content-evenly align-items-center">
    <span class="col-md-1">
      <button (click)="onPaginate('previous')" type="button" class="btn btn-link" [disabled]="disableNavigation?.previous">Previous</button>
    </span>
    <span class="col-md-10">
      <address-book [displaySize]="displaySize"></address-book>
    </span>
    <span class="col-md-1">
      <button (click)="onPaginate('next')" type="button" class="btn btn-link" [disabled]="disableNavigation?.next">Next</button>
    </span>
  </div>

  <div class="text-center mt-5 fw-light">
      This demo app was built using Angular. Checkout the source code on <a target="_blank" class="text-reset" href="https://github.com/ansuarez9/address-pagination-ng">github</a>!<br/>
      A React version is available <a class="text-reset" target="_blank" href="https://address-pagination.netlify.app">here</a>.
  </div>
</div>
<address-modal></address-modal>